# Server Configuration
PORT=5000
NODE_ENV=development

# MongoDB Configuration
MONGODB_URI=mongodb+srv://shivasmart2800:wDLHCIzMz5tAjP2q@cluster0.geisthf.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0

# JWT Configuration
JWT_SECRET=your_jwt_secret_key
JWT_EXPIRES_IN=30d

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=daud0qayvu
CLOUDINARY_API_KEY=383397915441385
CLOUDINARY_API_SECRET=Ow4GUhbAXzieDKtvOmiK61EgkbU

# Admin Configuration
ADMIN_EMAIL=admin@villageportfolio.com
ADMIN_PASSWORD=securepassword
ADMIN_NAME=Admin 